

body {
	background-image: url ("Falterboy-site/falterboy Hi Res.jpg");
	text-align: center;
	background-size: 150px; 
	
}
.container1{
	padding:100px;
}
.container2{
	padding: 100px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  display: inline;
  
}
li a {
  float: left; 
  display: block;
  color: black;
  text-align: center;
  padding: 25px 45px;
  text-decoration: none;
}

li {
  float:left; 
  display: block;
  color: black;
  text-align: center;
  padding: 25px 75px;
  text-decoration: none;
}
h2 { 
text-align: center;
margin-top: 25px;
margin-right: 25px;
margin-bottom: 25px;
margin-left: 25px;

 }
#greeting{
	padding-bottom: 400px;
}

#vintage {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width:50%;
  padding-top: 50px;	
}
 .belowpic {
  padding-top: 50px;

 }  

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;

  }

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  
}
.fa-youtube {
  background: #bb0000;
  color: white;
}
.center {
	margin-top: 500px;
	text-align: center;
}
#vintage {
  display: block; 
  height: 800px;
  width: 800px;
}



